.container {
  color: blueviolet;
  font-family: "Courier New", Courier, monospace;
  background-color: aquamarine;
  font-size: 15px;
  padding: 24px;
  border: 4px solid black;
  margin-top: 20px;
  margin-bottom: 40px;
  text-align: center;
}
